<extends src='layout.html'>
  <block name='content'>
    <section class="bg-black-0125 w-100">
      <article class="pb4">
        <div class="ph3 ph5-ns">
          <div class="cf mw9 center tc-m">
            <div class="fl w-100 overflow-auto v-top mt4 mt5-ns">
              <iframe src="https://ghbtns.com/github-btn.html?user=energychain&type=follow&count=false&size=small" frameborder="0" scrolling="0" width="136px" height="32px"></iframe>
              <a href="https://gitter.im/stromdao/Lobby" class="twitter bg-white-50 dim link dib mb2 br2 ph2 pb1 lh-solid v-top" style="padding-top:2px;">
                <img src="https://badges.gitter.im/stromdao/lobby.svg" alt="Gitter chat" title="gitter" height="16px">
              </a>
            </div>
            <div class="pb3 pb4-ns pt3 pt4-ns mt4 black-70 fl-l w-50-l">
              <h1 class="f4 fw6 f1-ns lh-title measure mt0">
                Dezentral. Autonom. Elektrisch.
              </h1>
              <p class="f5 f4-ns fw4 b measure dib-m lh-copy">
                STROMDAO ist ein Anbieter von Blockchaininfrastuktur für die Strom- versorgung der Zukunft. Wir bauen ein Energiesystem zum mitmachen: Als Stromkunde können Sie an der Entwicklung unserer Technologie unmittelbar mitwirken. Bewerben Sie sich jetzt.
              </p>
            </div>

            <div class="fl-l w-50-l tl tc-ns pt3 pt4-m pt6-l">
              <form class="dib" action="index.html" method="post">
                <label for="plz" class="db w-100 f4 fw6 mb2 f6 mt0 tl">
                  Postleitzahl eingeben und loslegen.
                </label>
                <input type="text" name="plz" id="plz" placeholder="" class="f5 w4 input-reset ba b--black-20 pv3 ph4 border-box">
                <button id="getTarif" class="button-reset f6 f5-ns fw6 dib ba b--black-20 bg-blue white ph3 ph4-ns  pv2 pv3-ns br2  no-underline mb4" type="submit" name="" value="">
                  Tarifinformationen ansehen
                </button>
                <!-- <a href="#" class="">
                  Jetzt Stromkunde werden.
                </a> -->
              </form>
            </div>
          </div>
        </div>
      </article>
    </section>
  </block>
</extends>
<!-- <h2>Hello World!</h2>
<p>Thanks for using <a href='https://github.com/static-dev/spike'>spike</a></p>
<p>Example of locals: {{ foo }}</p>
<p mdi> Example of **markdown**</p>
<p>Example of "smart quotes" -- and dashes</p>

<hr>

<h3>Getting Started</h3>
<h4>The Stack:</h4>
<ul>
  <li><a href="https://reshape.ml">reshape</a> for HTML transforms</li>
  <li><a href="https://babeljs.io">babel</a> for JS transforms</li>
  <li><a href="http://postcss.org">postcss</a> for CSS transforms</li>
  <li><a href="http://webpack.github.io">webpack</a> for JS bundling</li>
</ul>

<p>Customize your settings by editing the <a href="https://spike.readme.io/docs/appjs">app.js</a> file or simply start by editing this view</p> -->
