<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="energychain">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <block name="title">
      <title>STROMDAO website {{ pageId }}</title>
    </block>
    <block name="stylesheets">
      <link rel="stylesheet" href="css/index.css">
      <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    </block>
  </head>
  <body class="w-100 sans-serif black-70" role="document">
    <!-- main -->
    <main id="{{ pageId }}" role="wrapper">

      <!-- header -->
      <header class="w-100 pa3 pv4-ns ph5-ns bg-white">
        <div class="db dt-ns mw9 center w-100">
          <div class="db dtc-ns v-mid tl w-50">
            <a href="/" title="Home" class="f5 fw6 mt0 link black-70 ttu">
              STROM<span class="nowrap fw2">DAO</span>
            </a>
          </div>
          <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
            <a href="/articles" title="articles" class="f6 fw6 hover-blue link black-70 mr2 mr3-m mr4-l dib">
              Aktuelles
            </a>
          </nav>
        </div>
      </header>

      <!--content-->
      <block name="content"></block>
    </main>

    <!-- footer -->
    <block name="footer">
      <footer class="bg-white black-70 ph3 ph5-ns pt5 pb4 b--black-10" role="footer">
        <div class="mw9 center">
          <div class="mt4 f6 lh-copy">
            <div class="black-40 dib mr3">
              <span>© 2017&nbsp</span>
              <span class="tracked">STROMDAO</span>
              <span>&nbspLTD</span>
            </div>
            <a class="black-40 link hover-blue dib mr3" href="/" title="Home">
              Home
            </a>
            <a class="black-40 link hover-blue dib mr3" href="/legal" title="Impressum">
              Impressum
            </a>
          </div>
        </div>
      </footer>
    </block>

    <!-- scripts -->
    <block name="javascript">
      <script src='js/main.js' defer></script>
    </block>

  </body>
</html>
